{% extends "flash.html" %}
{%- from "bootstrap/pagination.html" import render_pagination -%}
<!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
	<!--<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}

 <div class="panel-heading">

     {% if h3 %}
     <h3 class="col-md-4">{{h3}}</h3>
            <div  class="row  form-inline">

                <div class="col-md-6">
                    <form action="{{ url_for('_showecpm') }}" method="post" class=" row " role="form">
                            <p>{{ wtf.form_field(form.startday) }}
                            {{ wtf.form_field(form.endday) }}   </p>
                        <p>
                            {{ wtf.form_field(form.buyerid) }}
                            {{ wtf.form_field(form.impid) }}
                            <input  class="btn btn-primary" id="submit" name="submit" type="submit" value="查找" ></p>

                    </form>
                 </div>

            </div>

     {% endif %}


 </div>
    <table  style="margin-left:2px" class="table table-striped table-hover table-bordered table-condensed">
            <thead>
                        <tr>
                            {% for i in labels %}
                            <!--style="word-wrap:break-word;word-break:break-all;"-->
                                <td  width="100">{{ i }}</td>
                            {% endfor %}
                        </tr>
            </thead>
        <tbody>
        {%- for ecpminfo in pagination.items -%}
            <tr >
                <td class="hidden-xs">{{ ecpminfo.day }}</td>
                <td class="hidden-xs">{{ ecpminfo.buyerid }}</td>
                {% if  ecpminfo.dspname  %}
                    <td class="hidden-xs">{{ ecpminfo.dspname }}</td>
                {% else %}
                    <td class="hidden-xs">{{ ecpminfo.buyername }}</td>
                {% endif %}
                <td class="hidden-xs">{{ ecpminfo.third_position_id }}</td>
                <td class="hidden-xs">{{ ecpminfo.impid }}</td>
                <td class="hidden-xs">{{ ecpminfo.impidname }}</td>
                <td class="hidden-xs">{{ ecpminfo.third_ecpm }}</td>

            </tr>
        {%- endfor -%}
        </tbody>
    </table>



{% import "page.html" as pg %}
{{pg.my_paginate(pagination,'_showecpm',**key)}}



{% endblock %}