

*.log


/logs/
/data/
.idea
.idea/inspectionProfiles/
.idea/workspace.xml
.idea/*.xml

Myflask.pyc
settings.pyc
static/
project/util/__init__.pyc
project/util/common.pyc
project/util/dbutil.pyc
project/util/excel_todb.pyc
project/util/result.pyc
